* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.btn {
  border: none;
}

img {
  width: 100%;
  object-fit: cover;
}

:root {
  --primary: rgba(128, 128, 128, 0.219);
  --secondary: rgb(79, 70, 229);
}

button {
  background-color: transparent;
}

li {
  list-style: none;
}

label {
  font-size: 15px;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: white;
  padding: 0 40px;
  border-bottom: 1px solid var(--primary);
}

.header-title {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--secondary);
  flex: 1;
}

.header-title p {
  font-size: 18px;
  font-weight: 600;

}

input {
  border: none;
  background-color: transparent;
  width: 100%;
  outline: none;
}

.search-input {
  border: 1px solid var(--primary);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 350px;
  height: 35px;
  padding: 0 10px;
  margin-right: 10px;
  background-color: rgb(248, 250, 252);
}

.search-input:focus-within {
  border-color: #007bff
}

.search-input .icon {
  width: 20px;
  height: 20px;
}

.saves {
  display: flex;
  gap: 7px;
  align-items: center;
  position: relative;
}

.heart,
.shopping {
  padding: 9px 10px;
  border: 1px solid var(--primary);
  border-radius: 8px;
  cursor: pointer;
  transition: all .1s ease-in;
  position: relative;
}

.heart p,
.shopping p {
  position: absolute;
  top: -3px;
  right: -4px;
  border-radius: 50%;
  background-color: var(--secondary);
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.login {
  display: flex;
  /*flex boladi*/
  align-items: center;
  gap: 5px;
  padding: 9px 10px;
  border: 1px solid var(--primary);
  border-radius: 8px;
  cursor: pointer;
  transition: all .1s ease-in;
}

.login.noactive {
  display: none;
}

.btn-profile {
  display: none;
}

.btn-profile.active {
  display: flex;
  gap: 5px;
  padding: 4px 10px;
  border: 1px solid var(--primary);
  border-radius: 8px;
  cursor: pointer;
  transition: all .1s ease-in;
}

.profile-before {
  display: flex;
  gap: 5px;
  align-items: center;
}

.profile-icon {
  border-radius: 50%;
  padding: 5px 7px;
  color: white;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-name {
  letter-spacing: 10%;
  font-weight: 600;
}

.arrow-icon {
  transition: all .3s ease-in-out;
}

.arrow-icon.active {
  rotate: 180deg;
}

.profile-modal {
  position: absolute;
  background-color: white;
  border-radius: 8px;
  width: 200px;
  height: 170px;
  top: 50px;
  right: 40px;
  padding: 10px;
  transition: all .4s ease-in-out;
  opacity: 0;
}

.name-modal {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: 1px solid var(--primary);
  cursor: context-menu;
}

.name-modal .user {
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 600;
}

.name-modal .email {
  color: rgba(100, 98, 98, 0.674);
}

.profile-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.my-products {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.my-products:hover {
  background-color: #f5f6fa;
}

.my-products:active {
  background-color: #eef0f5;
}

.logout {
  color: red;
}

.add-card {
  padding: 9px 10px;
  border: 1px solid var(--primary);
  border-radius: 8px;
  cursor: pointer;
  transition: all .1s ease-in;
}

.heart:hover,
.shopping:hover,
.login:hover,
.add-card:hover,
.btn-profile:hover {
  background-color: rgba(128, 128, 128, 0.596);
}

.heart:active,
.shopping:active,
.login:active,
.add-card:active,
.edit:active,
.product-btns .delete:active {
  transform: scale(.90);
}

main {
  padding: 30px 40px;
  background-color: rgb(248, 250, 252);
  min-height: 100vh;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  font-size: 19px;
  font-weight: 600;
}

.categories ul {
  display: flex;
  gap: 10px;
}

.categories ul li {
  border: 1px solid var(--primary);
  border-radius: 8px;
  padding: 8px 15px;
  font-size: 14px;
  transition: all .1s ease;
}

.categories ul li:hover {
  background-color: var(--secondary);
  cursor: pointer;
  color: white;
}

.categories ul li:active {
  transform: scale(.98);
}

.category-select {
  background-color: var(--secondary);
  color: white;
}

.grid-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  max-width: 1448px;
  width: 100%;
  margin: 20px auto;
}

.grid-card img {
  height: 200px;
}

.product-card {
  border: 1px solid var(--primary);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  animation: fadeInUp .5s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.heart-cart {
  border: 1px solid var(--primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 6px 5px;
  background-color: aliceblue;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: rgb(107, 123, 136);
}

.product-card .heart-cart:hover {
  background-color: rgb(254, 242, 242);
  border-color: rgba(255, 0, 0, 0.425);
}

.title {
  padding: 13px;
  height: 130px;
}

.title .title-product {
  text-transform: uppercase;
  font-size: 12px;
  color: blue;
  margin-bottom: 10px;
}

.title .text-product {
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.title .shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title .shop .price {
  font-weight: 600;
  font-size: 16px;
}

.title .shop .btn-add {
  padding: 10px 12px;
  border-radius: 6px;
  background-color: var(--secondary);
  color: white;
  display: flex;
  gap: 5px;
  font-size: 17px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.title .shop .btn-add:hover {
  background-color: #0400fffd;
}

.title .shop .btn-add:active {
  transform: scale(.99);
}

@media only screen and (max-width: 915px) {
  .grid-card {
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  }

  .title .shop .btn-add {
    padding: 6px;
    font-size: 15px;

  }

  .header-title p {
    font-size: 17px;
    font-weight: 500;
  }

  .title .text-product {
    height: 40px;
    font-size: 12px;
  }


}

@media only screen and (max-width: 705px) {
  .grid-card {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }
}

@media only screen and (max-width: 810px) {
  .grid-card {
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
  }

  .header-content {
    height: auto;
    padding: 15px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    flex-direction: row;
  }

  .header-title {
    order: 1;
    flex: none;
    width: auto;
  }

  .saves {
    display: flex;
    order: 2;
    flex: none;
    width: auto;
  }

  .form-input {
    width: 100%;
    order: 3;
    margin-right: 0;
  }

  .form-input .search-input {
    width: 100%;
  }

  main {
    padding: 0 20px;
  }

  .category {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .category h3 {
    margin-top: 20px;
  }

  .categories ul {
    margin-top: 20px;
    flex-wrap: wrap;
  }

  .add {
    display: none;
  }

  .profile-modal {
    right: 20px;
  }
}

@media only screen and (max-width: 439px) {
  .profile-modal {
    top: 100px;
  }
}

footer {
  padding: 20px;
  color: gray;
  border-top: 1px solid var(--primary);
  text-align: center;
}

.modal-overlay {
  opacity: 0;
  visibility: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  transition: opacity 0.2s ease-in-out;
}

.modal-overlay.show-fav {
  opacity: 1;
  visibility: visible;
}

.modal-overlay.show-fav .modal-content {
  right: 0;
}

.modal-overlay.show-cart {
  opacity: 1;
  visibility: visible;
}

.modal-overlay.show-cart .modal-content {
  right: 0;
}

.modal-overlay.show-login {
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay.show-register {
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay.show-sell-product {
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay.show-profile {
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: end;
  align-items: start;
}

.modal-overlay.show-profile .profile-modal {
  opacity: 1;
  top: 70px;
}

.modal-overlay.show-products {
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay.show-products .modal-content {
  right: 0;
}

.modal-content {
  position: absolute;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-left: 2px solid var(--primary);
  transition: right .2s ease-in-out;
}

.text-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid var(--primary);
}

.text-modal p {
  font-weight: 600;
  font-size: 20px;
}

.close-icon-modal {
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgb(97, 97, 97);
}

.close-icon-modal:hover {
  background-color: red;
  color: white;
  border-color: white;
}

.close-icon-modal:active {
  background-color: rgb(192, 8, 8);
}

.favorite-content-modal {
  display: flex;
  padding: 10px;
  gap: 20px;
  border: 1px solid var(--primary);
  margin: 10px 20px 0px 20px;
  border-radius: 6px;
  position: relative;
}

.modal-cart {
  height: calc(100vh - 200px);
}

.checout-cart {
  border-top: 1px solid gray;
  padding: 20px;
}

.total-price {
  display: flex;
  justify-content: space-between;
}

.total-price .price {
  color: blue;
  font-size: 17px;
}

.checout-btn {
  margin-top: 10px;
}

.checout-btn  button {
  padding: 15px;
  background-color: var(--secondary);
  width: 100%;
  border-radius: 9px;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.checout-btn  button:hover {
    background-color: #0400fffd;
}

.checout-btn  button:active {
    transform: scale(.99);
}

.products-content-modal {
  display: flex;
  padding: 10px;
  gap: 20px;
  border: 1px solid var(--primary);
  margin: 10px 20px 0px 20px;
  border-radius: 6px;
  position: relative;
}

.img-content-modal {
  width: 60px;
  height: 60px;
}

.img-content-modal img {
  border-radius: 5px;
  cursor: pointer;
  height: 60px;
}

.fav {
  position: relative;
}

.title-content-modal .content-text-modal  i {
  color: red;
  font-weight: 900;
}

.title-content-modal .content-text-modal p,
.title-content-modal .text {
  font-weight: 550;
  font-size: 16px;
  padding-bottom: 3px;
  color: black;
}

.title-content-modal>p {
  color: gray;
  font-size: 15px;
  padding-bottom: 5px;
  text-transform: capitalize;
}

.title-content-modal .price-modal {
  color: blue;
  font-size: 17px;
  font-weight: 500;
}

.title-content-modal .pending-approved {
  border-radius: 100px;
  padding: 4px 10px;
  background-color: #FEF3C7;
  color: #B45309;
  font-weight: 600;
  width: 45%;
  font-size: 12px;
}

.df-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plus-minus {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  padding: 4px;
  background-color: #fff;
  width: 90px;
}

.quantity-btn {
  background: none;
  border: none;
  font-size: 16px;
  color: #64748b;
  cursor: pointer;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease;
}

.quantity-btn:hover {
  color: #1e293b;
}

.quantity-count {
  width: 30px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #0f172a;
  background: transparent;
}

.df-card .delete {
  border: 1px solid var(--primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 6px 5px;
  background-color: aliceblue;
  position: absolute;
  bottom: 0px;
  right: -90px;
  cursor: pointer;
  color: rgb(107, 123, 136);
}



.modal-verify {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
}

.modal-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--primary);
  padding: 20px;
}

.login-form {
  /* margin-top: 20px; */
  padding: 20px;
}

.form-input-login

/*ham registerdin classi*/
input {
  border: 1px solid var(--primary);
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: 400px;
  height: 40px;
  padding: 0 10px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.login-btn {
  width: 100%;
  padding: 13px 0;
  border-radius: 8px;
  border: none;
  background-color: var(--secondary);
  margin-top: 30px;
  color: white;
  cursor: pointer;
}

.login-btn:hover {
  background-color: rgb(56, 47, 230);
}

.account {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
  gap: 4px;
  font-size: 13px;
}

.account .register-login {
  color: blue;
  cursor: pointer;
}

.account .register-login:hover {
  color: rgba(0, 0, 255, 0.671);
}

.category-prices {
  display: flex;
  justify-content: space-between;
}

.category-prices input {
  width: 180px;
}

textarea {
  width: 100%;
  height: 80px;
  resize: none;
  border-radius: 8px;
  border: 1px solid var(--primary);
  padding: 10px;
  outline: none;
  margin-bottom: 20px;
  margin-top: 5px;
}

#file {
  display: none;
}

label[for="file"] {
  cursor: pointer;
  border: 2px dashed var(--primary);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 25px;
  margin-top: 5px;
}

label i {
  font-size: 20px;
  color: var(--secondary);
}

.not-found {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 45%;
}

.not-found p {
  font-size: 20px;
  color: gray;
}

.product-btns {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.product-btns button {
  display: flex;
  gap: 5px;
  border: 1px solid #E2E8F0;
  border-radius: 8px;
  cursor: pointer;
  color: #64748B;
  padding: 10px;
  letter-spacing: 1px;
  transition: all .2s ease;
}

.product-btns .edit:hover {
  border-color: #4F46E5;
  color: #4F46E5;
}

.product-btns .delete:hover {
  border-color: red;
  color: red;
}